@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 16px/24px $main_font;
	color: $main_text_color;
	background-color: #eff0f7;
}

body.unscroll{
	overflow: hidden;
}

.mobile{display: none;}

.text--title{
    font-family: $bold_font;
    color: #101010;
}

.text--blue{
    color: $main_color;
}

.block_title{
    line-height: 38px;
    font-size: 34px;
}

h2{
    font-size: 64px;
    line-height: 68px;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.text--title{
    color: $second_color;
    font-family: $bold_font;
}

.btn{
    width: 181px;
    height: 50px;

	background-color: #fff;
    color: $main_color;
	font: 16px $bold_font;
    letter-spacing: .08em;
}

.btn:hover{
	background-color: #ec1244;
    color:#fff;
}

.btn:active{
	background-color: #d4d5e0;
    background-image: none;
}


.btn_red{
    background-color: none;
    background-image: url(img/btn-red.png);
    background-position: top center;
    background-repeat: no-repeat;
    color: #ec1244;
}


#sec_01{
    position: relative;
    overflow: hidden;
    padding: 40px 0 210px;
    background-image: url(img/sec_01-bg_layer--2.png);
    background-position: bottom  center;
    background-repeat: no-repeat;
    .container{
        position: relative;
        z-index: 20;
    }
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: url(img/sec_01-bg_layer--1.png) bottom center no-repeat;
        z-index: 20;
    }
    
    h1{
        position: relative;
        display: inline-block;
        color: #101010;
        font-size: 110px;
        font-weight: 700;
        line-height: 130px;
        margin-bottom: 70px;
        &:before{
            position: absolute;
            content: '';
            width: 43px;
            height: 63px;
            right: -60px;
            top: 180px;
            background: url(img/slash.png) center no-repeat;
        }
    }
    .top{
        margin-bottom: 130px;
        .phones_box{
            float: right;
        }
        .logo{margin-top: -10px;}
        .call_btn{
            float: right;
            width: 181px;
            height: 40px;
            border: 2px solid #150f2d;
            margin-left: 40px;
            color: $second_color;
            font-family: $bold_font;
            &:hover{
                background: $main_color;
                color: #fff;
                border: 2px solid $main_color;
            }
            &:active{
                background-color: #0350d2;
            }
        }
        .phone_number{
            line-height: 40px;
        }
    }
    .btn{
        margin-left: 10px;
    }
}


.glitch{
    position: absolute;
    bottom: -75px;
    width: 100%;
    z-index: 10;
    color: #0059ff;
    font-size: 572px;
    line-height: 678px;
    font-weight: 700;
    text-transform: uppercase;
     animation: glitch-main 8s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
    content: "move";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    color: #0059ff;
    font-size: 572px;
    line-height: 678px;
    font-weight: 700;
    text-transform: uppercase;
    left: -1px;
    text-shadow: -1px 0 red;
    background-image: url(img/sec_01-bg_layer--2.png);
    background-repeat: no-repeat;
    background-position: bottom 76px center;

    animation: glitch-anim-1 3s infinite linear alternate-reverse;
}
.glitch::after {
    content: "move";
    z-index: 2;
    position: absolute;;
    left: 0;
    top: 0;
    color: #0059ff;
    font-size: 562px;
    line-height: 678px;
    font-weight: 700;
    text-transform: uppercase;
    left:  1px;
    text-shadow: -1px 0 green;
    background-image: url(img/sec_01-bg_layer--2.png);
    background-repeat: no-repeat;
    background-position: bottom 76px center;

    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch::before {
  clip: rect(310px, 1920px, 680px, 0);
}

.glitch::after {
  clip: rect(0px, 1920px, 1202px, 0);
}

@keyframes glitch-anim-1 {
  $steps: 8;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(700)+px, 9999px, random(700)+px, 0);
    }
  }
}

@keyframes glitch-anim-2 {
  $steps: 8;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(700)+px, 9999px, random(700)+px, 0);
    }
  }
}



@keyframes glitch-main {
    0% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    1% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    2% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    3% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    4% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    5% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    6% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    7% {
        text-shadow: -3px 2px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    8% {
        text-shadow: -3px 2px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    9% {
        text-shadow: -3px 2px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    10% {
        text-shadow: -3px 2px 0 rgba(255, 66, 8, .5), 0 -3px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    11% {
        text-shadow: -5px -2px 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    12% {
        text-shadow: -5px -2px 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    13% {
        text-shadow: -5px -2px 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    14% {
        text-shadow: -5px -2px 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    15% {
        text-shadow: -5px -2px 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    16% {
        text-shadow: -5px 4px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    17% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    18% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    19% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    20% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    21% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    22% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    23% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    24% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    25% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    26% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5);
        filter: blur(.5)
    }
    27% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5);
        filter: blur(.5)
    }
    28% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    29% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    30% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    31% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    32% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    33% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    34% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    35% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    36% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    37% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    38% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    39% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    40% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    41% {
        text-shadow: 8px 0 0 rgba(23, 236, 255, .5), -7px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    42% {
        text-shadow: 0 0 0 rgba(23, 236, 255, .5), 0 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    43% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    44% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    45% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    46% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    47% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    48% {
        text-shadow: -10px 4px 0 rgba(255, 66, 8, .5), 0 -6px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    49% {
        text-shadow: -5px 4px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    50% {
        text-shadow: -5px 4px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    51% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    52% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    53% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    54% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    55% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    56% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    57% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    58% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    59% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    60% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    61% {
        text-shadow: 4px 0 0 rgba(255, 66, 8, .5), -4px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    62% {
        text-shadow: 0 0 0 rgba(255, 66, 8, .5), 0 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    63% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5), -1px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    64% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5), -1px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    65% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5), -1px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    66% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5), -1px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    67% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    68% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    69% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    70% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    71% {
        text-shadow: 5px 0 0 rgba(255, 66, 8, .5), -5px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    72% {
        text-shadow: 0 0 0 rgba(255, 66, 8, .5), 0 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    73% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    74% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    75% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    76% {
        text-shadow: 3px 0 0 rgba(255, 66, 8, .5), -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    77% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    78% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    79% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    80% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5), 3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    81% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    82% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    83% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    84% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    85% {
        text-shadow: 1px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    86% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    87% {
        text-shadow: -3px 0 0 rgba(255, 66, 8, .5);
        -webkit-filter: blur(.5px);
        filter: blur(.5px)
    }
    88% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    89% {
        text-shadow: -4px 4px 0 rgba(255, 66, 8, .5), 0 -2px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    90% {
        text-shadow: -6px 4px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    91% {
        text-shadow: 6px 0 0 rgba(255, 66, 8, .5), -6px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    92% {
        text-shadow: 0 0 0 rgba(255, 66, 8, .5), 0 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    92% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    93% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    94% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    95% {
        text-shadow: 3px -3px 0 rgba(255, 66, 8, .5), 0 -4px 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    96% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    97% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    98% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    99% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
    100% {
        text-shadow: -3px 0 0 rgba(23, 236, 255, .5);
        -webkit-filter: blur(0);
        filter: blur(0)
    }
}


@media (min-width: 768px) and (max-width: 991px){
  .glitch{display: none;}
  #sec_01{
    background-image: url(img/sec_01-bg.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    &:before{
        display: none;
    }
    .top{
        margin-bottom: 70px;
    }
    h1{
        font-size: 60px;
        line-height: 70px;
        &:before{
            display: none;
        }
    }
    .btn{
        border: 4px solid $main_color;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
    .glitch {
      font-size: 340px;
      &:before, &:after{
          font-size: 340px;
      }
    }
    #sec_01{
        padding-bottom: 320px;
        .top{
            margin-bottom: 70px;
        }
        h1{
            font-size: 90px;
            line-height: 100px;
        }
    }
}


@media (min-width: 1200px) and (max-width: 1620px){
    #sec_01{
        padding-bottom: 460px;
        .top{
            margin-bottom: 50px;
        }
        h1{
            font-size: 80px;
            line-height: 92px;
            margin-bottom: 40px;
            &:before{
                right: -40px;
                top: 116px;
            }
        }
    }
  .glitch {
    font-size: 320px;
    // bottom: 0;
    &:before, &:after{
        font-size: 320px;
        // background-position: bottom 0px center;
    }
  }
}

@media (max-width: 767px) {
    .glitch{display: none;}
    #sec_01{
      background-image: url(img/sec_01-bg.jpg);
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      &:before{
          display: none;
      }
      .top{
          margin-bottom: 70px;
      }
      h1{
          font-size: 60px;
          line-height: 70px;
          &:before{
              display: none;
          }
      }
      .btn{
          border: 4px solid $main_color;
      }
    }
}


@media (max-width: 480px) {
    #sec_01{
        background-image: url(img/sec_01-bg-mob.jpg);
        padding-bottom: 130px;
        .top{
            .phones_box{text-align: right; margin-top: -20px;}
            .phone_number {float: none; margin: 0;}
            .call_btn {float: none;}
        }
        h1{
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 480px) {
    #sec_01{
        background-image: url(img/mob-1.png);
    }
}
