@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  h2{
    font-size: 38px;
    line-height: 44px;
  }
  .block_title{
    font-size: 26px;
    line-height: 33px;
  }
  br{display: none;}
  #sec_02{
    padding-top: 100px;
    h2{margin-bottom: -20px;}
      .sec_img-1{
          width: 80%;
      }
      .sec_img-2{
        margin: 75px 0 -40px 20px;
        width: 200px;
      }
      .title-1{
        margin-left: 50px;
      }
      .title-2{
        margin-left: 70px;
      }
  }
  #sec_03{
    h2{
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 40px;
      &:before{
        display: none;
      }
    }
    .sec_img{
      width: 80%;
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
  #sec_04{
    .sec_img{
      width: 100%;
      margin-top: 100px;
    }
    form{
      margin-left: 0;
    }
  }
  #footer{
    padding-top: 0px;
  }
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #sec_02{
      .sec_img-1{
          width: 80%;
      }
      .sec_img-2{
        margin: 75px 0 -60px 20px;
      }
  }
  #sec_03{
    .sec_img{
      width: 80%;
      margin-left: 30px;
    }
  }
  #sec_04{
    .sec_img{
      width: 100%;
      margin-top: 100px;
    }
    form{
      margin-left: 0;
    }
  }
  #footer{
    padding-top: 0px;
  }
}

@media screen and (max-height: 800px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  .desctop{display: none;}
  .mobile{display: block;}
  [class*='col-']{width:100%;}
  h2{
    font-size: 38px;
    line-height: 44px;
  }
  .block_title{
    font-size: 26px;
    line-height: 33px;
  }
  br{display: none;}
  #sec_02{
    padding-top: 100px;
    h2{margin-bottom: 20px;}
      .sec_img-1{
          width: 80%;
          margin-bottom: 80px;
      }
      .sec_img-2{
        margin: 15px 0 0px 0px;
        width: 200px;
      }
      .title-2{
        margin-top: 110px;
        margin-left: 0;
      }
  }
  #sec_03{
    h2{
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 40px;
      &:before{
        display: none;
      }
    }
    .title-1{
      margin-top: 60px;
    }
    .sec_img{
     display: none;
    }
  }
  #sec_04{
    h2{margin-top: 40px;}
    .sec_img{
      width: 100%;
      margin-top: 60px;
      max-width: 470px;
    }
    .item{
      margin-top: 0;
      margin-bottom: 90px;
    }
    form{
      margin-left: 0;
    }
  }
  #footer{
    padding-top: 0px;
    text-align: center;
    .phone_number  {float: none;
      margin-left: 40px;};
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
  }
  div[id*="modal_callback"]{
    min-width: 320px;
    .md-content{
      padding: 35px;
      background: #fff;
    }
    h2{
      margin: 30px 0;
      line-height: 34px;
    }
    form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%;
    }
    .field{
      max-width: 360px;
      width: 100%;
    }
    .field+.field {
     margin-top: 15px
    }
    .btn{
      margin: 25px auto 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 480px) {
  h2{
    font-size: 30px;
    line-height: 34px;
  }
  .block_title{
    font-size: 20px;
    line-height: 26px;
  }
  #sec_02{
    h2{margin-left: 0;}
    .title-2{margin-left: 0px;}
  }
  #sec_03{
    .list_item{margin-left: 0;}
  }
  #sec_04{
    .margined{
      margin-left: 0;
    }
    form{
      padding: 40px;
    }
  }
}